.grid{
    user-select: none;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.grids{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 640px;
    border: 1px solid black;
}
.grid .box{
    background-color: black;
}
.colorSelector{
    width: 84px;
    height: 50px;
    border: none;
}

.main{
    display: flex;
    gap: 48px;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    user-select: none
}

button{
    width: 100px;
    height: 50px;
    user-select: none;
    border-radius: 8px;
    font-weight: bold;
}
.colors{
    display: flex;
    width: 84px;
    flex-wrap: wrap;
}
.colors div{
    width: 40px;
    height: 40px;
    border: 1px solid #000000 ;
}
.colorRed{
    background-color: #FF0000;
}
.colorBlue{
    background-color: #0000FF;
}
.colorYellow{
    background: #FFFF00;
}
.colorBlack{
    background-color: #000000;
}
.colorGreen{
    background-color: #00FF00;
}
.colorWhite{
    background-color: #FFFFFF;
}
.rainbow{
    background: linear-gradient(90deg, red, orange, yellow, green, blue, rgb(170, 170, 170), violet, red);
    
}

.selected{
    box-shadow: 2px 2px 8px 4px black;
}
.sizeBigger, .sizeSmaller{
    width: 48px;
    background-color: cyan;
}